.aboutDetails{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.aboutImg{
    width: 600px;
}

.aboutImg img{
    width: 100%;
}

.aboutSpecial{
    flex: 1;
    background-color: #13131A;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutSpecial button{
    width: 200px;
}

.aboutSpecial h3{
    font-size: 1.6rem;
}

.aboutSpecial p{
    margin: 20px 0px;
    color: lightgray;
    line-height: 25px;
}

@media(max-width:768px){
    .aboutDetails{
        flex-direction: column;
    }

    .aboutImg{
        width: 100%;
        margin-bottom: 20px;
    }
}